<div class='new-signup'>
  <div class='container'>
  <h1>Get the latest updates from Stories</h1>
  <div class='row'>  
  <%= form_for(@signup) do |f| %>
      <div class="field">
        <%= f.label :First_name %><br>
        <%= f.text_field :firstname %>
      </div>
      <div class="field">
        <%= f.label :Email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="actions">
        <%= f.submit "Join", :class => 'btn' %>
      </div>
   <% end %>
   </div>
  </div>
</div>